force-app/main/default/flows/Close_trip.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_new_Status</name>
        <label>Set new Status</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Looc_Services.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Looc_Services.ServiceRenderedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServicesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looc_Services</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looc_Services</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Close trip {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close trip</label>
    <loops>
        <name>Looc_Services</name>
        <label>Looc Services</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Trip_Services</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_new_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Services</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Trip_Services</name>
        <label>Get Trip Services</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looc_Services</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Trip__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Services</name>
        <label>Update Services</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <connector>
            <targetReference>Update_Trip</targetReference>
        </connector>
        <inputReference>ServicesToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Trip</name>
        <label>Update Trip</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>ClosedTrip</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Trip__c</object>
    </recordUpdates>
    <screens>
        <name>ClosedTrip</name>
        <label>Closed Trip</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msgTripClosed</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(248, 249, 250); font-size: 28px; font-family: arial, sans-serif; color: rgb(32, 33, 36);&quot;&gt;The trip has been closed&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Trip_Services</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServicesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service__c</objectType>
    </variables>
</Flow>
