force-app/main/default/flows/FinalizeStop.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RedirectTrip</name>
        <label>Redirect To Trip</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <actionName>c:RedirectDetailPage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetServiceStop.Trip__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:RedirectDetailPage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <actionName>Contact.Next_Stop_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>RedirectTrip</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Next_Stop.Customer__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Next_Stop_Email</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Remove_Trip</name>
        <label>Remove Trip</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Get_Service.Trip__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateService</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_Review</name>
        <label>Set Status to Review</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_Service.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateService</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetStatustoRouting</name>
        <label>Set Status to Routing</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_Service.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Routing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Trip</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetStopData</name>
        <label>Set Stop data</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>GetServiceStop.StopComplete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateStop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Next_Stop</name>
        <label>Has Next Stop</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>RedirectTrip</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Next_Stop</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Next_Stop.Customer__r.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>@</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyItems</name>
        <label>Verify Items</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Set_Status_to_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Items Complete</defaultConnectorLabel>
        <rules>
            <name>HasPendingItems</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetNotCompletedServiceItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetStatustoRouting</targetReference>
            </connector>
            <label>Has Pending Items</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyServiceStop</name>
        <label>Verify Service Stop</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>ThereIsNoStops</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasStop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetServiceStop</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetStopData</targetReference>
            </connector>
            <label>Has Stop</label>
        </rules>
    </decisions>
    <description>Flow to change service status based on item statuses and update stop.</description>
    <environments>Default</environments>
    <formulas>
        <name>NextStopOrder</name>
        <dataType>Number</dataType>
        <expression>{!GetServiceStop.StopOrder__c} +1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Finalize Stop {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Finalize Stop</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Next_Stop</name>
        <label>Get Next Stop</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerifyItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StopOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NextStopOrder</elementReference>
            </value>
        </filters>
        <filters>
            <field>Trip__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service.Trip__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Stop__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service</name>
        <label>Get Service</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetNotCompletedServiceItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_Items__c</queriedFields>
        <queriedFields>NotLoadedItems__c</queriedFields>
        <queriedFields>LoadedDeclinedItems__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>SubType__c</queriedFields>
        <queriedFields>Trip__c</queriedFields>
        <queriedFields>ContactEmail__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNotCompletedServiceItems</name>
        <label>Get Not Completed Service Items</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetServiceStop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Not Available</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Shopping Declined</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Item Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Quantity__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetServiceStop</name>
        <label>Get Service Stop</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerifyServiceStop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Trip__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service.Trip__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Stop__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateService</name>
        <label>updateService</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Has_Next_Stop</targetReference>
        </connector>
        <inputReference>Get_Service</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStop</name>
        <label>UpdateStop</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Get_Next_Stop</targetReference>
        </connector>
        <inputReference>GetServiceStop</inputReference>
    </recordUpdates>
    <screens>
        <name>ThereIsNoStops</name>
        <label>There Is No Stops</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ThereIsNoStopsMSG</name>
            <fieldText>&lt;p&gt;&quot;Finalize Stop&quot; action failed. There is no stop associated on this service.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
