force-app/main/default/flows/Start.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_First_Stop</name>
        <label>Notify First Stop</label>
        <locationX>534</locationX>
        <locationY>1874</locationY>
        <actionName>Contact.Next_Stop_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Trip_status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>FirstStop</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Next_Stop_Email</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Start_Trip</name>
        <label>Notify Start Trip</label>
        <locationX>754</locationX>
        <locationY>1490</locationY>
        <actionName>Service__c.New_Trip_Start</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>LoopInServices</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopInServices.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.New_Trip_Start</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_First_Order_Service_Id</name>
        <label>Set First Order Service Id</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>FirstStop</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopInStops.Customer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopInStops</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetServicesIds</name>
        <label>Set Services Ids</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>servicesIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopInStops.Service__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyWhichStopIsTheFirst</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>HasDeliveryWithoutAllLoadedUnloadedItems</name>
        <label>Has Delivery Without All Loaded/Unloaded Items</label>
        <locationX>358</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Start_Trip</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetServices</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CantStartTrip</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyFirstStopCanBeEmailed</name>
        <label>Verify First Stop Can Be Emailed</label>
        <locationX>666</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>Trip_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Email</defaultConnectorLabel>
        <rules>
            <name>FirstStopCanBeEmailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>First_Stop</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_First_Stop</targetReference>
            </connector>
            <label>First Stop Can Be Emailed</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyServiceContact</name>
        <label>Verify Service Contact</label>
        <locationX>886</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>TripStartedWithoutSendEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ServiceHasContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopInServices.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopInServices.Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Start_Trip</targetReference>
            </connector>
            <label>Service Has Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyWhichStopIsTheFirst</name>
        <label>Verify Which Stop Is The First</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>LoopInStops</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Stop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopInStops.StopOrder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopInStops.Service__r.ContactEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_First_Order_Service_Id</targetReference>
            </connector>
            <label>First Stop</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Start {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Start Trip</label>
    <loops>
        <name>LoopInServices</name>
        <label>Loop In Services</label>
        <locationX>666</locationX>
        <locationY>1274</locationY>
        <collectionReference>GetServicesToNotify</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>VerifyServiceContact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>VerifyFirstStopCanBeEmailed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopInStops</name>
        <label>Loop in Stops</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <collectionReference>GetAllStopsFromTrip</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetServicesIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetServices</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAllStopsFromTrip</name>
        <label>Get All Stops From Trip</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopInStops</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Trip__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Stop__c</object>
        <sortField>StopOrder__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetServices</name>
        <label>Get Services</label>
        <locationX>358</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasDeliveryWithoutAllLoadedUnloadedItems</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>servicesIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivery</stringValue>
            </value>
        </filters>
        <filters>
            <field>SubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hope Del.</stringValue>
            </value>
        </filters>
        <filters>
            <field>ItemsNotReady__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetServicesToNotify</name>
        <label>Get Services To Notify</label>
        <locationX>666</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopInServices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>servicesIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Start_Trip</name>
        <label>Start Trip</label>
        <locationX>666</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>GetServicesToNotify</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TripStart__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Trip__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CantStartTrip</name>
        <label>Cannot start Trip</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MSGNoStartTrip</name>
            <fieldText>&lt;p&gt;To start a trip it is necessary that all delivery services that have provided quantity filled in are marked as loaded or not loaded.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Trip_status</name>
        <label>Trip status</label>
        <locationX>666</locationX>
        <locationY>2066</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msGTripStart</name>
            <fieldText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;Trip status set to started
&lt;/pre&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TripStartedWithoutSendEmail</name>
        <label>Trip Started Without Send Email</label>
        <locationX>1018</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LoopInServices</targetReference>
        </connector>
        <fields>
            <name>TripStartedWithoutSendEmailMSG</name>
            <fieldText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;Trip status set to started but some contacts are missing an email address.



&lt;/pre&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAllStopsFromTrip</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Stop__c</objectType>
    </variables>
    <variables>
        <name>FirstStop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>servicesIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
